@using MovieShop.Core.ServiceInterfaces
@model MovieShop.Core.Models.Request.ReviewRequestModel
@inject ICurrentLogedInUser logedInUser


@{
    ViewData["Title"] = "Review";
}
@if (logedInUser.IsAuthenticated)
{
    <form method="post" asp-controller="User" asp-action="Review">
        <div class="card mb-3 container shadow ">
            <div class="row justify-content-md-center">
                <div class="col-md-4">
                    <img src="@Model.PostUrl" alt="@Model.Title" class="card-img-top">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="control-label">Comments</label>
                            <textarea class="form-control" asp-for="ReviewText" required></textarea>
                            <input type="hidden" value="@Model.MovieId" name="MovieId" />
                            <input type="hidden" value="@logedInUser.UserId" name="UserId" />
                        </div>

                        <hr />
                        <div class="row">
                            <div class="form-group col-12">
                                <label for="rating">Rating</label>
                                <select class="form-control" asp-for="Rating" id="rating">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block" />
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
}
else
{

}
